// :focus,
// .hover\:outline:hover {

// }

.button,
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	background-color: var(--color-primary);
	color: var(--color-text-white);
	border: 1px solid var(--color-primary);
	box-shadow: var(--box-shadow-light);
	border-radius: 0.8rem;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	padding: 1rem 2rem;
	font-size: 1rem;
	letter-spacing: 0.06em;
	font-weight: 700;
	height: auto;
	text-align: center;
	text-transform: uppercase;
	-webkit-transition: var(--transition);
	transition: var(--transition);
	text-decoration: none;
	white-space: nowrap;

	&:hover,
	&:focus {
		background-color: var(--color-primary-darker);
		border-color: var(--color-primary-darker);
		color: var(--color-text-white);
		box-shadow: var(--box-shadow);
	}

	&:focus {
		outline: 0.3rem solid var(--color-secondary);
	}

	&[disabled] {
		cursor: default;
		opacity: 0.5;
	}

	&.small {
		padding: 0.6rem 1.4rem;
		border-radius: 0.8rem;
	}

	&.large {
		padding: 1.5rem 3rem;
		border-radius: 1.2rem;
	}

	&.gradient {
		background: var(--gradient-primary);
		border-color: transparent;
		box-shadow: none;
		transition-duration: 500ms;

		&:hover,
		&:focus {
			box-shadow: var(--box-shadow-button);
			filter: brightness(125%);
		}
	}

	&.outline {
		background-color: transparent;
		border: 2px solid var(--color-border);
		color: var(--color-text-primary);
		box-shadow: none;

		&:hover,
		&:focus {
			background-color: var(--color-primary);
			border-color: var(--color-primary);
			color: var(--color-text-white);
			box-shadow: var(--box-shadow-button);
		}
	}

	&.solid {
		background-color: var(--color-text-primary);
		border: 2px solid var(--color-border);
		color: var(--color-text-primary-inverted);
		box-shadow: none;

		&:hover,
		&:focus {
			background-color: var(--color-primary);
			border-color: var(--color-primary);
			color: var(--color-text-white);
			box-shadow: var(--box-shadow-button);
		}
	}

	&.icon {
		border-color: transparent;
		background-color: transparent;
		color: var(--color-text-primary);
		box-shadow: none;
		padding: 0.25em;
		min-height: 40px;
		min-width: 40px;

		&:hover,
		&:focus {
			outline: none;
			color: var(--color-primary);
		}
	}
}

input:not([type]),
input[type="color"],
input[type="date"],
input[type="datetime-local"],
input[type="datetime"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="url"],
input[type="week"],
select,
textarea {
	-webkit-appearance: none;
	background-color: transparent;
	border: 2px solid var(--color-border);
	border-radius: 0.3rem;
	box-shadow: none;
	box-sizing: inherit;
	color: inherit;
	font-family: inherit;
	font-size: 100%;
	height: 3rem;
	line-height: 1.15;
	margin: 0;
	padding: 0.6rem 1rem 0.7rem;
	width: 100%;

	&.light {
		border-width: 1px;
		border-color: var(--color-border-light);
		border-radius: 0.8rem;

		&:focus,
		&:focus-visible {
			border-width: 1px;
			border-color: var(--color-border-light);
			box-shadow: var(--box-shadow-input);
			outline: none;
		}
	}

	:focus {
		border-color: #325476;
		border-color: var(--color-primary);
	}
}

input[type="search"] {
	-webkit-appearance: textfield;
	outline-offset: -2px;
}
::-webkit-input-placeholder {
	color: inherit;
	opacity: 0.54;
}
::-webkit-search-decoration {
	-webkit-appearance: none;
}
::-webkit-file-upload-button {
	-webkit-appearance: button;
	font: inherit;
}
:-moz-ui-invalid {
	box-shadow: none;
}
select {
	padding-right: 3rem;
	text-transform: none;

	&[multiple] {
		background: none;
		height: auto;
	}

	option {
		color: var(--color-text-black);
	}
}
textarea {
	margin: 0;
	min-height: 6.5rem;
	overflow: auto;
	resize: vertical;
	resize: block;
}
label,
legend {
	display: block;
	font-weight: 700;
	margin-bottom: 0.5rem;
}
label.label-inline,
legend.label-inline {
	display: inline-block;
	font-weight: 400;
	margin-left: 0.5rem;
}
fieldset {
	border-width: 0;
	padding: 0;
}
input[type="checkbox"],
input[type="radio"] {
	display: inline;
}
