@media (min-width: 672px) {
	table {
		display: table;
		overflow-x: initial;
	}
}

.sr-only {
	border: 0;
	-webkit-clip-path: inset(50%);
	clip-path: inset(50%);
	height: 1px;
	margin: 0;
	overflow: hidden;
	padding: 0;
	position: absolute !important;
	white-space: nowrap;
	width: 1px;
}

.sr-only.sr-only-focusable:focus {
	-webkit-clip-path: initial;
	clip-path: none;
	height: auto;
	margin: 0;
	overflow: visible;
	padding: 0;
	white-space: normal;
	width: auto;
}

dl,
ol,
ul {
	list-style: none;
	margin-left: 0;
	padding-left: 0;
}
dl dl,
dl ol,
dl ul,
ol dl,
ol ol,
ol ul,
ul dl,
ul ol,
ul ul {
	font-size: 90%;
	margin: 1.5rem 0 1.5rem 3rem;
}
ol {
	list-style: decimal inside;
}
ul {
	list-style: circle inside;
}
li {
	margin-top: 0;
}
progress {
	vertical-align: baseline;
}
table {
	border-color: inherit;
	border-spacing: 0;
	display: block;
	overflow-x: auto;
	text-align: left;
	text-indent: 0;
	width: 100%;
}
td,
th {
	border-bottom: 1px solid #e5e7eb;
	border-bottom: 1px solid var(--color-primary);
	padding: 1.2rem 1.5rem;
}
td:first-child,
th:first-child {
	padding-left: 0;
}
td:last-child,
th:last-child {
	padding-right: 0;
}
dialog {
	background-color: #f9fafb;
	background-color: var(--color-primary);
	border: 1px solid #f9fafb;
	border: 1px solid var(--color-primary);
	color: #111827;
	color: var(--color-text-primary);
	display: block;
	height: -moz-fit-content;
	height: -webkit-fit-content;
	height: fit-content;
	left: 0;
	margin: auto;
	padding: 1em;
	position: absolute;
	right: 0;
	width: -moz-fit-content;
	width: -webkit-fit-content;
	width: fit-content;
}
dialog:not([open]) {
	display: none;
}
summary {
	display: list-item;
}

/* End list and tables */

.container {
	width: var(--container-widht);
	max-width: var(--container-max-width);
	margin: 0 auto;
}

.container.hero {
	margin-top: var(--header-height);
}

.container.hero-container {
	max-width: var(--container-hero-max-width);
}

section {
	padding: var(--spacer-lg) 0;

	&.alt {
		background: var(--color-bg-alt);
	}
	&.no-padding {
		padding: 0;
	}

	@media (min-width: 768px) {
		& {
			padding: var(--spacer-xl) 0;
		}
	}
}

ul {
	list-style: none;
}

svg {
	max-height: 100%;
}

.hero {
	& .button {
		margin-top: var(--spacer-md);
	}
}

.flex {
	display: flex;
}
