b,
strong {
	font-weight: 700;
}
u {
	display: inline-block;
}
abbr[title] {
	text-decoration: underline;
	-webkit-text-decoration: underline dotted;
	text-decoration: underline dotted;
}
p {
	margin-bottom: 1em;
	margin-top: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 400;
	line-height: 1.3;
	margin: 1em 0 1em;
}
.h1,
h1,
h1:not(* + *),
h2:not(* + *),
h3:not(* + *),
h4:not(* + *),
h5:not(* + *),
h6:not(* + *) {
	margin-top: 0;
}
.h1,
h1 {
	font-size: 3.052rem;
	font-size: var(--size-h1);
}
.h2,
h2 {
	font-size: 2.441rem;
	font-size: var(--size-h2);
}
.h3,
h3 {
	font-size: 1.953rem;
	font-size: var(--size-h3);
}
.h4,
h4 {
	font-size: 1.563rem;
	font-size: var(--size-h4);
}
.h5,
h5 {
	font-size: 1.25rem;
	font-size: var(--size-h5);
}
.h6,
h6,
small {
	font-size: 0.8rem;
	font-size: var(--size-h6);
	letter-spacing: 0.05em;
}

h2.h5 {
	margin-bottom: 0.5em;
}

h2.h5 + h3.h2,
h2.h6 + h3.h2 {
	margin-top: 0;
}

blockquote {
	border-left: 3px solid #d1d5db;
	border-left: 3px solid var(--color-primary);
	margin-left: 0;
	margin-right: 0;
	padding: 1em 1.5em;
}
blockquote :last-child {
	margin-bottom: 0;
}

code,
kbd,
pre,
samp {
	border-radius: 0.2rem;
	font-family: ui-monospace, SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
	font-size: 1em;
}
code {
	margin: 0 0.2rem;
	padding: 0.2rem 0.5rem;
	white-space: no-wrap;
}
code,
pre {
	background: #e5e7eb;
	background: var(--color-primary);
}
pre {
	border-left: 3px solid #325476;
	border-left: 3px solid var(--color-primary);
	overflow-y: hidden;
	white-space: normal;
}
pre > code {
	background: transparent;
	border-radius: 0;
	display: block;
	white-space: pre;
}
hr {
	border: 0;
	border-top: 1px solid #d1d5db;
	border-top: 1px solid var(--color-primary);
	margin: 3rem 0;
}

iframe {
	border-style: none;
}
img,
svg {
	max-width: 100%;
}
svg:not([fill]) {
	fill: currentColor;
}

html:not(.site-scrolled) span.scrolldown {
	position: absolute;
	bottom: 2rem;
	left: 50%;
	width: 20px;
	height: 20px;
	border-left: 1px solid var(--color-primary);
	border-bottom: 1px solid var(--color-primary);
	transform: rotate(-45deg);
	-webkit-animation: sdb 1.5s infinite;
	animation: sdb 1.5s infinite;
	box-sizing: border-box;
}

@-webkit-keyframes sdb {
	0% {
		-webkit-transform: rotate(-45deg) translate(0, 0);
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		-webkit-transform: rotate(-45deg) translate(-1rem, 1rem);
		opacity: 0;
	}
}

@keyframes sdb {
	0% {
		transform: rotate(-45deg) translate(0, 0);
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		transform: rotate(-45deg) translate(-1rem, 1rem);
		opacity: 0;
	}
}

/* Cta link */
.link-s {
	position: relative;
	display: flex;
	align-items: center;
	width: max-content;
	font-size: var(--size-p);
	font-weight: var(--weight-bolder);
	color: var(--color-primary);
	padding: 0 0.5rem;
	margin: auto;
	margin-top: 3rem;
	transition: color 300ms ease-in-out;
}

.link-s:hover {
	color: var(--color-text-white);
}

.link-s::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	width: 0;
	height: 100%;
	background-color: var(--color-primary);
	transition: width 300ms ease-in-out;
}

.link-s:hover::before {
	width: 100%;
}

.link-s-icon {
	width: 1.0625rem;
	height: 0.875rem;
	margin-left: 0.5rem;
	stroke: currentColor;
}

a {
	color: #0b70ba;
	color: var(--color-secondary);
	cursor: pointer;
	transition: color 0.15s;
}
a:focus,
a:hover {
	color: #374151;
	color: var(--color-primary);
}

.text-primary {
	color: var(--color-primary);
}
.text-secondary {
	color: var(--color-secondary);
}
.text-silent {
	color: var(--color-primary);
}

pre > code {
	padding: 0;
}
