/******************************************************************************
 * Variables
 * variable for light and dark mode
 ******************************************************************************/
@use "variables";

/******************************************************************************
 * Fonts
 * Decomment the one you need
 ******************************************************************************/
@use "fonts/inter";
// @use "fonts/poppins";
// @use "fonts/manrope";

/******************************************************************************
 * Root
 * Genaral layout for all the elemesnts
 ******************************************************************************/
@use "root";

/******************************************************************************
 * Layout
 * All rules regarding basic elements like container, tables, etc
 ******************************************************************************/
@use "layout";

/******************************************************************************
 * Text
 * All rules regarding text elements like text, title, etc
 ******************************************************************************/
@use "text";

/******************************************************************************
 * Inputs
 * All rules regarding input elements like buttons, textareas, select, etc
 ******************************************************************************/
@use "inputs";

/******************************************************************************
 * Docs
 * All rules regarding documentation.
 * Remove if you don't need the doc
 ******************************************************************************/
@use "docs";

/******************************************************************************
 * Elements
 * All rules regarding custom elements
 ******************************************************************************/
@use "elements";

/******************************************************************************
 * Localization
 * Rules regarding localization
 ******************************************************************************/
@use "localization";

/******************************************************************************
 * Libs
 * All custom libs rules
 ******************************************************************************/
@use "libs/sal";
