---
import marked from 'marked'
import Layout from '../../layouts/base.astro'
import Sidebar from '../../components/Sidebar.astro'
import site from 'data/site.json'
import { Code } from 'astro/components';

---

<Layout title="Blog">
    <section>
        <div class="container hero">
            <h1 class="h6"><strong>DOCUMENTATION</strong></h1>
            <h2 class="h1">Get started</h2>
            <p>Guide to get started with astro test template.</p>
        </div>
    </section>

	<section>
		<div class="container documentation">
			
			<aside class="sidebar" id="sidebar-site">
				<Sidebar currentPage="" />
			</aside>
			
			<div class="content">
				<slot>
					<section id="installation" class="no-padding">
						<h2 class="h3">Installation</h2>
						<div class="card">
							<div class="card-body">

								<a href="https://app.netlify.com/start/deploy?repository=https://github.com/netlify/netlify-statuskit"><img src="https://www.netlify.com/img/deploy/button.svg" alt="Deploy to Netlify"></a>
							
								<ul class="installation-steps">
									<li>If not already intalled, install latest <a href="https://nodejs.org/en/">Node version (Current)</a></li>
									<li>In the project directory run <code>npm install</code></li>
									<li>To start the project for development run <code>npm run dev</code></li>
									<li>To build the project for production <code>npm run build</code></li>
								</ul>

								<p></p> 
								<p></p>
								<p><strong>Please remember...</strong></p>
							</div>
						</div>
					</section>
				</slot>
			</div>

		</div>
	</section>
</Layout>

<script>

// https://codepen.io/datchley/pen/Jvdryy
const triggers = Array.from(document.querySelectorAll('[data-toggle="collapse"]'));

window.addEventListener('click', (ev) => {
	const elm = ev.target;
	if (triggers.includes(elm)) {
		const selector = elm.getAttribute('data-target');
		collapse(selector, 'toggle');
	}
}, false);

const fnmap = {
'toggle': 'toggle',
'show': 'add',
'hide': 'remove'
};

const collapse = (selector, cmd) => {
	const targets = Array.from(document.querySelectorAll(selector));
	targets.forEach(target => {
		target.classList[fnmap[cmd]]('show');
	});
}

</script>
