---
// TODO: Improve by gettings languages automatically

// let localizations = [ { key: 'en', label: 'English' }, { key: 'it', label: 'Italian' } ];
let localizations = [ 'it', 'en' ];
---

<select title="Language switcher" id="language-switcher" onchange="selectLanguage(this.options[this.selectedIndex].value)">
	{localizations.map((lang) => (
		<option value={lang}>{lang}</option>
	))}
</select>

<script>

const LANGUAGE_STORAGE_KEY = "astros:language";

function selectLanguage(language) {
	document.documentElement.lang = language;
    localStorage.setItem(LANGUAGE_STORAGE_KEY, document.documentElement.lang)
}

let languageSwitcher = document.getElementById("language-switcher");
var currentLanguage = document.documentElement.lang;
languageSwitcher.value = currentLanguage;

</script>

<style lang="scss">
select {
	text-align: center;
	padding: 0.5rem;
	-o-appearance: none;
	-ms-appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background: none;
	border: none;
	cursor: pointer;

	&:focus,
	&:focus-visible,
	&:focus-within {
		border: none;
		background: none;
		outline: none;
	}

	&::-ms-expand {
		display: none;
	}
}
</style>
