---
// TODO: Improve to get automatically all files in localization folder
// import fs from 'node:fs/promises';
import it from 'data/localization/it.json';
import en from 'data/localization/en.json';

var defaultLang = 'en';

let localizations = [ {lang: 'it', t: it }, {lang:'en', t: en} ];

const { key, label } = Astro.props as props

var translations = [];

localizations.forEach(l => {
	var label = key;
	if (l.t[key]) {
		label = l.t[key];
	}
	
	translations.push({
		lang: l.lang,
		label: label,
	});
});
---

{translations.map(({ lang, label }) => (
	<span lang={lang}>{label}</span>
))}
