---
import Layout from '../../../layouts/base.astro';
import PostList from '../../../components/blog/PostList.astro';
import SubHero from '../../../components/SubHero.astro';
import site from '../../../data/site.json';

export async function getStaticPaths({ paginate }) {
	const allPosts = Astro.fetchContent('../../blog/*.md');

	const allTags = new Set();
	allPosts.map(post => {
		post.tags && post.tags.map(tag => allTags.add(tag.toLowerCase()));
	});

	return Array.from(allTags).map(tag => {
		const filteredPosts = allPosts.filter(post => post.tags.includes(tag));
		return paginate(filteredPosts, {
			params: { tag },
			pageSize: site.blog.postsPerPage,
		});
	});
}

const { page } = Astro.props;
const { params } = Astro.request;
const { data: posts } = page;
---

<Layout>
	<SubHero title={`Tag ${params.tag}`}/>
	<section class="tags">
		<PostList {posts} {page} />
	</section>
</Layout>
