---
import DefaultPageLayout from '$/layouts/default.astro';

let title = 'All Tags';
let description = 'All the tags used so far...';

const allPosts = await Astro.fetchContent('../blog/*.md');
const tags = [
	...new Set(
		[].concat.apply(
			[],
			allPosts.map(post => post.tags)
		)
	),
];
---

<DefaultPageLayout content={{ title, description }}>
	<ul class="tag-list">
		{tags.map(tag => (
			<li>
				<a class="tag" href={`/tags/${tag}`} title={`View posts tagged under "${tag}"`}>
					{tag}
				</a>
			</li>
		))}
	</ul>
</DefaultPageLayout>
