---
import Layout from '../../layouts/base.astro';
import PostList from '../../components/blog/PostList.astro';
import SubHero from '../../components/SubHero.astro';
import site from '../../data/site.json';

export async function getStaticPaths({ paginate }) {
	const allPosts = Astro.fetchContent('./*.md');

	const sortedPosts = allPosts.sort((a, b) => new Date(b.date) - new Date(a.date));

	return paginate(sortedPosts, {
		pageSize: site.blog.postsPerPage,
	});
}

const { page } = Astro.props;
const { data: posts } = page;
---

<Layout>
	<SubHero title="Shop"/>
	<section class="shop">
		<PostList {posts} {page} />
	</section>
</Layout>
