---
import { changeLanguage } from "i18next";
import { Icon } from "astro-icon";
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import Button from "@components/ui/button.astro";
import Contactform from "@components/contactform.astro";

changeLanguage("en");

let contacts = [
    {
        title: "Marketing",
        email: "test@yourcompany.com",
        phone: "+1 (555) 555-5555",
    },
    {
        title: "Human Resources",
        email: "test@yourcompany.com",
        phone: "+1 (555) 555-5555",
    },
    {
        title: "Finance",
        email: "test@yourcompany.com",
        phone: "+1 (555) 555-5555",
    },
    {
        title: "Research and Development",
        email: "test@yourcompany.com",
        phone: "+1 (555) 555-5555",
    },
];
---

<Layout title="Contact">
	<Container>
		<Sectionhead>
			<Fragment slot="title">Contact</Fragment>
			<Fragment slot="desc">Get in Touch.</Fragment>
		</Sectionhead>

		<div class="py-24 sm:py-32">
			<div class="mx-auto max-w-7xl px-6 lg:px-8">
				<div class="mx-auto max-w-2xl space-y-16 divide-y divide-gray-100 lg:mx-0 lg:max-w-none">
					<div class="grid grid-cols-1 gap-x-8 gap-y-10 lg:grid-cols-3">
						<div>
							<h2 class="text-3xl font-bold tracking-tight text-gray-900 dark:text-white">Departments</h2>
							<p class="mt-4 leading-7 text-gray-600 dark:text-gray-200">Reach Out to Our Dedicated Teams.</p>
						</div>
						<div class="grid grid-cols-1 gap-6 sm:grid-cols-2 lg:col-span-2 lg:gap-8">
							{
								contacts.map((item) => (
									<div class="rounded-2xl bg-gray-50 dark:bg-stone-800 p-10">
										<h3 class="text-base font-semibold leading-7 text-gray-900 dark:text-white">{item.title}</h3>
										<dl class="mt-3 space-y-1 text-sm leading-6 text-gray-600 dark:text-white">
											<div>
												<dt class="sr-only">Email</dt>
												<dd>
													<a class="font-semibold text-stone-600 dark:text-white" href="mailto:collaborate@example.com">
														{item.email}
													</a>
												</dd>
											</div>
											<div class="mt-1">
												<dt class="sr-only">Phone number</dt>
												<dd>{item.phone}</dd>
											</div>
										</dl>
									</div>
								))
							}
						</div>
					</div>
				</div>
			</div>
		</div>
	</Container>
</Layout>
