---
import Container from "@components/container.astro";
import Faq from "@components/faq.astro";
import Logos from "@components/logos.astro";
import Pricing from "@components/pricing.astro";
import Sectionhead from "@components/sectionhead.astro";
import Layout from "@layouts/Layout.astro";
import { changeLanguage } from "i18next";

changeLanguage("it");

const pricingData = [
	{
		name: "Personal",
		price: "Free",
		popular: false,
		features: [
			"Lifetime free",
			"Up to 3 users",
			"Unlimited Pages",
			"Astro Sub domain",
			"Basic Integrations",
			"Community Support",
		],
		button: {
			text: "Get Started",
			link: "/",
		},
	},
	{
		name: "Startup",
		price: {
			monthly: "$19",
			annual: "$16",
			discount: "10%",
			original: "$24",
		},
		popular: true,
		features: [
			"All Free Features",
			"Up to 20 users",
			"20 Custom domains",
			"Unlimited Collaborators",
			"Advanced Integrations",
			"Priority Support",
		],
		button: {
			text: "Get Started",
			link: "#",
		},
	},
	{
		name: "Enterprise",
		price: "Custom",
		popular: false,
		features: [
			"All Pro Features",
			"Unlimited Custom domains",
			"99.99% Uptime SLA",
			"SAML & SSO Integration",
			"24/7 Phone Support",
		],
		button: {
			text: "Contact us",
			link: "/contact",
		},
	},
];
---

<Layout title="Pricing">
	<Container>
		<Sectionhead>
			<Fragment slot="title">Pricing</Fragment>
			<Fragment slot="desc">Affordable Excellence: See Our Pricing.</Fragment>
		</Sectionhead>

		<div class="grid md:grid-cols-3 gap-10 mx-auto max-w-4xl mt-20">
			{pricingData.map((item) => <Pricing plan={item} />)}
		</div>
		<!-- <Logos /> -->
		<Faq />
	</Container>
</Layout>
