---
const { plan } = Astro.props;
import { t } from "i18next";

const faqs = [
	{
		title: "How long does it take to deploy my website?",
		description: "The timeline for web development varies based on the complexity of the project. Simple websites can be completed in a matter of weeks, while larger and more intricate projects may take several months. We provide detailed project timelines during the consultation phase."
	},
	{
		title: "What technologies do you use for web development?",
		description: "For web development, we use the latest technologies and frameworks, including Typescript, React, Next.js, and Tailwind CSS. We may use other design systems and frameworks depending on the project requirements."
	},
	{
		title: "What is the cost of your web development services?",
		description: "The cost of web development varies depending on the scope and complexity of the project. We provide custom quotes after discussing your specific requirements and goals."
	},
	{
		title: "Can you help with website maintenance and updates?",
		description: "Absolutely! We offer ongoing website maintenance and support services to ensure your website remains up-to-date, secure, and free from issues."
	},
	{
		title: "How can I get started?",
		description: "Getting started is easy! Simply contact us through our website or email, and we'll schedule a consultation to discuss your project, goals, and timeline."
	}
];
---

<div class="mx-auto max-w-5xl px-6 py-24 sm:py-36 lg:px-8 lg:py-52 dark:bg-stone-950">
	<div class="mx-auto divide-y divide-gray-900/10 dark:divide-gray-100/10">
		<h2 class="text-2xl font-bold leading-10 tracking-tight text-gray-900 dark:text-white">{t("faq.title")}</h2>
		<dl class="mt-10 space-y-6 divide-y divide-gray-900/10 dark:divide-gray-100/10">
			{
				faqs.map((faq) => (
					<div class="pt-6" x-data="{ open: false }">
						<dt>
							<button
								type="button"
								class="flex w-full items-start justify-between text-left text-gray-900 dark:text-white"
								@click="open = !open"
								:x-bind:aria-expanded="open.toString()">
								<span class="text-base font-semibold leading-7">{faq.title}</span>
								<span class="ml-6 flex h-7 items-center">
									<svg
										class="h-6 w-6"
										fill="none"
										viewBox="0 0 24 24"
										stroke-width="1.5"
										stroke="currentColor"
										aria-hidden="true"
										x-show="!open">
										<path stroke-linecap="round" stroke-linejoin="round" d="M12 6v12m6-6H6"></path>
									</svg>
									<svg
										class="h-6 w-6"
										fill="none"
										viewBox="0 0 24 24"
										stroke-width="1.5"
										stroke="currentColor"
										aria-hidden="true"
										x-show="open">
										<path stroke-linecap="round" stroke-linejoin="round" d="M18 12H6"></path>
									</svg>
								</span>
							</button>
						</dt>
						<dd
							x-transition:enter="transition ease-out duration-100"
							x-transition:enter-start="opacity-0 transform scale-90"
							x-transition:enter-end="opacity-100 transform scale-100"
							x-transition:leave="transition ease-in duration-100"
							x-transition:leave-start="opacity-100 transform scale-100"
							x-transition:leave-end="opacity-0 transform scale-90"
							class="mt-2 pr-12"
							id="faq-0"
							x-show="open">
							<span class="text-base leading-7 text-gray-600 dark:text-gray-100">
								<span set:html={faq.description}></span>
							</span>
						</dd>
					</div>
				))
			}
		</dl>
	</div>
</div>
