---
// @ts-ignore
import { Icon } from "astro-icon";
import Link from "@components/ui/link.astro";
import { localizePath } from "astro-i18next";
import { t } from "i18next";

const features = [
	{
		title: "Astro",
		description: "features.astro",
		icon: "bx:bxs-briefcase",
		url: "https://astro.build/",
	},
	{
		title: "Alpine",
		description: "features.alpine",
		icon: "bx:bxs-window-alt",
		url: "https://alpinejs.dev/",
	},
	{
		title: "Tailwind",
		description: "features.tailwind",
		icon: "bx:bxs-data",
		url: "https://tailwindcss.com/",
	},
	{
		title: "Localization",
		description: "features.localization",
		icon: "bx:bxs-bot",
		url: "https://github.com/yassinedoghri/astro-i18next",
	},
	{
		title: "Ligh/Dark Mode",
		description: "features.light_dark_mode",
		icon: "bx:bxs-file-find",
		url: "https://tailwindcss.com/docs/dark-mode",
	},
	{
		title: "Giscus",
		description: "features.giscus",
		icon: "bx:bxs-user",
		url: "https://giscus.app/",
	},
	{
		title: "Decap CMS",
		description: "features.decapcms",
		icon: "bx:bxs-user",
		url: "https://decapcms.org/",
	},
	{
		title: "RSS feed",
		description: "features.rss",
		icon: "bx:bxs-user",
		url: "/rss.xml",
	},
	{
		title: "Article generator (soon)",
		description: "features.articlegenerator",
		icon: "bx:bxs-user",
		url: "#",
	},
];
---

<div class="relative mx-auto max-w-5xl px-6 lg:px-8">
	<div class="mx-auto max-w-2xl lg:text-center">
		<h2 class="text-base font-semibold leading-7 text-black dark:text-white">{t("features.title")}</h2>
		<p class="mt-2 text-3xl font-bold tracking-tight text-black dark:text-white sm:text-4xl">{t("features.subtitle")}</p>
		<p class="mt-6 text-lg leading-8 text-gray-900 dark:text-gray-100">
			{t("features.description")}
		</p>
	</div>
	<div class="mx-auto mt-16 max-w-2xl sm:mt-20 lg:mt-24 lg:max-w-none">
		<dl class="grid max-w-xl grid-cols-1 gap-x-8 gap-y-16 lg:max-w-none lg:grid-cols-3">
			{
				features.map((item) => (
					<div class="flex flex-col">
						<dt class="flex items-center gap-x-3 text-base font-semibold leading-7 text-black dark:text-white">
							<div class="h-5 w-5 flex-none text-black dark:text-white">
								<Icon name={item.icon} />
							</div>
							{item.title}
						</dt>
						<dd class="mt-4 flex flex-auto flex-col text-base leading-7 text-gray-900 dark:text-gray-100">
							<p class="flex-auto">{t(item.description)}</p>
							<p class="mt-6">
								<Link href={item.url} style="muted" size="xs" class="leading-6 text-left text-black dark:text-white">
									{t("features.learn_more")}{" "}
									<span class="pl-1 text-black dark:text-white" aria-hidden="true">
										→
									</span>
								</Link>
							</p>
						</dd>
					</div>
				))
			}
		</dl>
	</div>
</div>
