---
let logos = [
	{
		src: "https://tailwindui.com/img/logos/158x48/transistor-logo-gray-900.svg",
		alt: "Transistor",
	},
	{
		src: "https://tailwindui.com/img/logos/158x48/reform-logo-gray-900.svg",
		alt: "Reform",
	},
	{
		src: "https://tailwindui.com/img/logos/158x48/tuple-logo-gray-900.svg",
		alt: "Tuple",
	},
	{
		src: "https://tailwindui.com/img/logos/158x48/savvycal-logo-gray-900.svg",
		alt: "SavvyCal",
	},
	{
		src: "https://tailwindui.com/img/logos/158x48/statamic-logo-gray-900.svg",
		alt: "Statamic",
	},
];
---

<div class="mx-auto max-w-7xl px-6 lg:px-8 py-20">
	<div
		class="mx-auto grid max-w-lg grid-cols-4 items-center gap-x-8 gap-y-12 sm:max-w-xl sm:grid-cols-6 sm:gap-x-10 sm:gap-y-14 lg:mx-0 lg:max-w-none lg:grid-cols-5">
		{
			logos.map(({ src, alt }) => (
				<img class="col-span-2 max-h-12 w-full object-contain lg:col-span-1 dark:invert" src={src} alt={alt} width="158" height="48" />
			))
		}
	</div>
</div>
