---
import { Tick } from "@components/ui/icons";
import Link from "@components/ui/link.astro";

const { plan } = Astro.props;
---

<div class="rounded-md p-8 xl:p-10 ring-1 ring-gray-200 dark:bg-stone-950 dark:ring-gray-700">
	<div class="flex items-center justify-between gap-x-4">
		<h3 id="tier-enterprise" class="text-lg font-semibold leading-8 text-gray-900 dark:text-white">{plan.name}</h3>
	</div>
	<p class="mt-6 flex items-baseline gap-x-1">
		<span class="text-4xl font-bold tracking-tight text-gray-900 dark:text-white">
			{plan.price && typeof plan.price === "object" ? plan.price.monthly : plan.price}
		</span>
	</p>
	<Link href="#" aria-describedby="tier-enterprise" style="outline" class="block w-full mt-6">{plan.button.text || "Get Started"}</Link>
	<ul role="list" class="mt-8 space-y-3 text-sm leading-6 text-gray-600 dark:text-gray-300 xl:mt-10">
		{
			plan.features.map((item) => (
				<li class="flex gap-x-3">
					<svg class="h-6 w-5 flex-none" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
						<path
							fill-rule="evenodd"
							d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
							clip-rule="evenodd"
						/>
					</svg>
					{item}
				</li>
			))
		}
	</ul>
</div>
