---
import { Translate } from 'astro-localization';

const { title, subtitle, lmap } = Astro.props;
---

<section class="subhero">
	<div class="container">
		{title && <h1><Translate {lmap} key={title} /></h1>}
		{subtitle && <h2><Translate {lmap} key={subtitle} /></h2>}
	</div>
</section>

<style lang="scss">
	.subhero {
		margin-top: 8rem;
		margin-bottom: 3rem;
	}
</style>
