---
---

<div class="relative isolate pt-24 sm:pt-32">
	<div class="absolute inset-x-0 top-1/2 -z-10 -translate-y-1/2 transform-gpu overflow-hidden opacity-30 blur-3xl" aria-hidden="true">
		<div
			class="ml-[max(50%,38rem)] aspect-[1313/771] w-[82.0625rem] bg-gradient-to-tr from-[#ff80b5] to-[#9089fc]"
			style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)">
		</div>
	</div>
	<div class="absolute inset-x-0 top-0 -z-10 flex transform-gpu overflow-hidden pt-32 opacity-25 blur-3xl sm:pt-40 xl:justify-end" aria-hidden="true">
		<div
			class="ml-[-22rem] aspect-[1313/771] w-[82.0625rem] flex-none origin-top-right rotate-[30deg] bg-gradient-to-tr from-[#ff80b5] to-[#9089fc] xl:ml-0 xl:mr-[calc(50%-12rem)]"
			style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)">
		</div>
	</div>
	<div class="mx-auto max-w-7xl px-6 lg:px-8">
		<div class="mx-auto max-w-xl text-center">
			<h2 class="text-lg font-semibold leading-8 tracking-tight text-indigo-600">Testimonials</h2>
			<p class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">We have worked with thousands of amazing people</p>
		</div>
		<div class="mx-auto mt-16 grid max-w-2xl grid-cols-1 grid-rows-1 gap-8 text-sm leading-6 text-gray-900 sm:mt-20 sm:grid-cols-2 xl:mx-0 xl:max-w-none xl:grid-flow-col xl:grid-cols-4">
			<figure class="col-span-2 hidden sm:block sm:rounded-2xl sm:shadow-lg sm:ring-1 sm:ring-gray-900/5 xl:col-start-2 xl:row-end-1">
				<blockquote class="p-12 text-xl font-semibold leading-8 tracking-tight text-gray-900">
					<p>
						“Integer id nunc sit semper purus. Bibendum at lacus ut arcu blandit montes vitae auctor libero. Hac condimentum dignissim nibh vulputate ut nunc. Amet nibh orci mi venenatis blandit vel et proin. Non hendrerit in vel ac
						diam.”
					</p>
				</blockquote>
				<figcaption class="flex items-center gap-x-4 border-t border-gray-900/10 px-6 py-4">
					<img class="h-10 w-10 flex-none rounded-full bg-gray-50" src="https://images.unsplash.com/photo-1550525811-e5869dd03032?ixlib=rb-=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=1024&h=1024&q=80" alt="" />
					<div class="flex-auto">
						<div class="font-semibold">Brenna Goyette</div>
						<div class="text-gray-600">@brennagoyette</div>
					</div>
					<img class="h-10 w-auto flex-none" src="https://tailwindui.com/img/logos/savvycal-logo-gray-900.svg" alt="" />
				</figcaption>
			</figure>
			<div class="space-y-8 xl:contents xl:space-y-0">
				<div class="space-y-8 xl:row-span-2">
					<figure class="rounded-2xl p-6 shadow-lg ring-1 ring-gray-900/5">
						<blockquote class="text-gray-900">
							<p>“Laborum quis quam. Dolorum et ut quod quia. Voluptas numquam delectus nihil. Aut enim doloremque et ipsam.”</p>
						</blockquote>
						<figcaption class="mt-6 flex items-center gap-x-4">
							<img class="h-10 w-10 rounded-full bg-gray-50" src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="" />
							<div>
								<div class="font-semibold">Leslie Alexander</div>
								<div class="text-gray-600">@lesliealexander</div>
							</div>
						</figcaption>
					</figure>

					<!-- More testimonials... -->
				</div>
				<div class="space-y-8 xl:row-start-1">
					<figure class="rounded-2xlp-6 shadow-lg ring-1 ring-gray-900/5">
						<blockquote class="text-gray-900">
							<p>“Aut reprehenderit voluptatem eum asperiores beatae id. Iure molestiae ipsam ut officia rem nulla blanditiis.”</p>
						</blockquote>
						<figcaption class="mt-6 flex items-center gap-x-4">
							<img class="h-10 w-10 rounded-full bg-gray-50" src="https://images.unsplash.com/photo-1517841905240-472988babdf9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="" />
							<div>
								<div class="font-semibold">Lindsay Walton</div>
								<div class="text-gray-600">@lindsaywalton</div>
							</div>
						</figcaption>
					</figure>

					<!-- More testimonials... -->
				</div>
			</div>
			<div class="space-y-8 xl:contents xl:space-y-0">
				<div class="space-y-8 xl:row-start-1">
					<figure class="rounded-2xl p-6 shadow-lg ring-1 ring-gray-900/5">
						<blockquote class="text-gray-900">
							<p>“Voluptas quos itaque ipsam in voluptatem est. Iste eos blanditiis repudiandae. Earum deserunt enim molestiae ipsum perferendis recusandae saepe corrupti.”</p>
						</blockquote>
						<figcaption class="mt-6 flex items-center gap-x-4">
							<img class="h-10 w-10 rounded-full bg-gray-50" src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="" />
							<div>
								<div class="font-semibold">Tom Cook</div>
								<div class="text-gray-600">@tomcook</div>
							</div>
						</figcaption>
					</figure>

					<!-- More testimonials... -->
				</div>
				<div class="space-y-8 xl:row-span-2">
					<figure class="rounded-2xl p-6 shadow-lg ring-1 ring-gray-900/5">
						<blockquote class="text-gray-900">
							<p>“Molestias ea earum quos nostrum doloremque sed. Quaerat quasi aut velit incidunt excepturi rerum voluptatem minus harum.”</p>
						</blockquote>
						<figcaption class="mt-6 flex items-center gap-x-4">
							<img class="h-10 w-10 rounded-full bg-gray-50" src="https://images.unsplash.com/photo-1519345182560-3f2917c472ef?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="" />
							<div>
								<div class="font-semibold">Leonard Krasner</div>
								<div class="text-gray-600">@leonardkrasner</div>
							</div>
						</figcaption>
					</figure>

					<!-- More testimonials... -->
				</div>
			</div>
		</div>
	</div>
</div>
