---
import Layout from 'pages/documentation/index.astro'
import { Code } from 'astro/components';
import Image from 'components/elements/Image.astro'

---

<Layout>
	<section id="buttons" class="no-padding">
		<h2 class="h3">Buttons</h2>
		<div class="card">
			<div class="card-body">

				<b>Default</b>
				<ul class="buttons">
					<li>
						<button class="small">Small</button>
					</li>
					<li>
						<button>Default</button>
					</li>
					<li>
						<button class="large">Large</button>
					</li>
				</ul>

				<b>Gradient</b>
				<ul class="buttons">
					<li>
						<button class="gradient small">Small</button>
					</li>
					<li>
						<button class="gradient">Default</button>
					</li>
					<li>
						<button class="gradient large">Large</button>
					</li>
				</ul>

				<b>Outline</b>
				<ul class="buttons">
					<li>
						<button class="outline small">Small</button>
					</li>
					<li>
						<button class="outline">Default</button>
					</li>
					<li>
						<button class="outline large">Large</button>
					</li>
				</ul>

				<b>Solid</b>
				<ul class="buttons">
					<li>
						<button class="solid small">Small</button>
					</li>
					<li>
						<button class="solid">Default</button>
					</li>
					<li>
						<button class="solid large">Large</button>
					</li>
				</ul>

			</div>
		</div>
	</section>
	<section id="images" class="no-padding">
		<h2 class="h3">Images</h2>
		<div class="card">
			<div class="card-body test-images">
				<div style="height: 100px; width: 100px;">
					<Image src="/images/lottie/avatar.json" width="100px" height="100px" />
					<span>Lottie animation</span>
				</div>
				<div style="height: 100px; width: 100px;">
					<Image src="/images/illustrations/idea.svg" width="100px" height="100px" />
					<span>Simple illustration</span>
				</div>
			</div>
		</div>
	</section>
</Layout>


<style>
ul.buttons {
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
}
	
.test-images {
	display: flex;
    min-height: 15rem;
	gap: 1rem;
	margin-top: 1rem;
}

.test-images > div {
	display: flex;
    flex-direction: column;
	justify-content: center;
	text-align: center;
	gap: 1rem;
}
</style>
