---
import Translate from 'components/localization/Translate.astro'

interface Props {
  className: string
  alt: boolean
  id?: string
}

const { id, class: className = '', alt = false } = Astro.props as props
---

<section class={`${alt && 'alt'} ${className}`} id={id || ''}>
	<div class="container">
		<slot />
    </div>
</section>

<style lang="scss">

</style>
