---
import Translate from 'components/localization/Translate.astro'

interface Props {
  title: string
  subtitle: string
  alt: boolean
  id?: string
}

const { title, subtitle, id, class: className = '', alt = false } = Astro.props as props
---

<section class={`${alt && 'alt'} ${className}`} id={id || ''}>
	<div class="container">
		{title && <h2 class="h6 text-primary"><strong><Translate key={title} /></strong></h2>}
		{subtitle && <h3 class="h2"><Translate key={subtitle} /></h3>}

		<slot />
	</div>
</section>

<style lang="scss">
  h2 {
    text-transform: uppercase;
  }
</style>
