---
import Translate from 'components/localization/Translate.astro'

interface Props {
  title: string
  subtitle: string
  description: string
  className: string
  alt: boolean
  id?: string
}

const { title, subtitle, description, id, class: className = '', alt = false } = Astro.props as props
---

<section class={`${alt && 'alt'} ${className}`} id={id || ''}>
	<div class="container">
		<div class="caption">
			{title && <h2 class="h6 text-primary"><strong><Translate key={title} /></strong></h2>}
			{subtitle && <h3 class="h2"><Translate key={subtitle} /></h3>}
			{description && <p><Translate key={description} /></p>}
		</div>
		<div class="content">
			<slot />
		</div>
	</div>
</section>

<style lang="scss">
	section > .container {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(min(30rem, 100%), 1fr));
		gap: 2rem;

		> .caption {
			max-width: 25rem;
		}
	}


	h2 {
		text-transform: uppercase;
	}
</style>
