---

import ThemeToggle from 'components/theme/ThemeToggle.astro'

	
const socialLinks = [
	{
		title: 'Email us at info@astros.zank.it',
		href: 'mailto:info@astros.zank.it',
		icon: 'email'
	},
	{
		title: 'Find us on Twitter',
		href: 'https://twitter.com/astros.zank.it',
		icon: 'twitter'
	},
	{
		title: 'Find us on dev.to',
		href: 'https://dev.to/astros.zank.it',
		icon: 'devto'
	},
	{
		title: 'Find us on Github',
		href: 'https://github.com/zk-g',
		icon: 'github'
	},
	{
		title: 'RSS Feed',
		href: 'https://astros.zank.it/feed/blog.xml',
		icon: 'rss'
	}
]

const year = new Date().getFullYear()
---

<footer>
	<div class="container">
		<div class="newsletter">
			<h2>Enough Talk, Let's Build Something Together</h2>
			<fieldset class="fieldInput">
				<input class="form-input" type="email" placeholder="Your e-mail here">
				<button type="submit" class="form-submit">Subscribe</button>
			</fieldset>
		</div>
	</div>
	<div class="container">
		<div class="contacts">
			<div class="copyright">
				<span>Copyright © 2021 Imroz React Template. Built with love in Bangladesh All rights reserved.</span>
			</div>
			<div class="quicklinks">
				<h4>Quick links</h4>
				<ul>
					<li><a>Portfolio</a></li>
					<li><a>Portfolio</a></li>
					<li><a>Portfolio</a></li>
					<li><a>Portfolio</a></li>
					<li><a>Portfolio</a></li>
				</ul>
			</div>
			<div class="company">
				<h4>Company</h4>
				<ul>
					<li><a>Portfolio</a></li>
					<li><a>Portfolio</a></li>
					<li><a>Portfolio</a></li>
					<li><a>Portfolio</a></li>
					<li><a>Portfolio</a></li>
				</ul>
			</div>
			<div class="sayhello">
				<h4>Say hello</h4>
				<ul>
					<li><a>admin@example.com</a></li>
					<li><a>admin@example.com</a></li>
				</ul>
				<ul class="social">
				{socialLinks.map(({ href, title, icon }) => (
					<li>
						<a href={href} rel="me">
							<span class="sr-only">{title}</span>
							<svg>
								<use xlink:href={`/assets/sprites.svg#${icon}`} />
							</svg>
						</a>
					</li>
				))}
		</ul>
			</div>
		</div>
		

		<div class="bottom">
			<ul class="links">
						<li>
							<a class="h6" href="/privacy">Privacy Policy</a>
						</li>
						<li>
							<a class="h6" href="/terms">Terms & Conditions</a>
						</li>
						<li>
							<a class="h6" href="/#contact">Contact Us</a>
						</li>
					</ul>
			<ThemeToggle />

			</div>
	</div>
</footer>

<style lang="scss">
	footer {
		background: var(--color-bg-alt);
	}

	a {
		color: var(--color-text-primary);
	}

	.container {
		padding-top: var(--spacer-lg);
		padding-bottom: var(--spacer-lg);
		gap: var(--spacer-md);
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.newsletter {
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 20px;
		flex-wrap: wrap;
		text-align: center;

		h2 {
			margin: 0;	
		}
	}

	@media (min-width: 768px) {
		.newsletter {
			justify-content: space-between;
			flex-wrap: nowrap;
			text-align: left;
		}
	}

	.fieldInput {
		display: flex;
		max-width: 300px;
		position: relative;
		box-shadow: 0 4px 20px 0 rgb(0 0 0 / 9%);
		border-radius: 35px;
		overflow: hidden;
		height: 4rem;
		align-items: center;
		.form-input {
			    max-width: 200px;
				background: none;
				border: none;
				padding: 0 10px;
				font-size: 1rem;
				color: #6A7C92;
				margin: 0;
				height: 2.2rem;

			&:focus {
				outline: none;
			}
		}
		.form-submit {
			color: var(--color-text-primary);
			font-size: 0.8rem;
			max-width: 150px;
			height: 100%;
			border-radius: 17px;
			background: none;
			border: none;
			box-shadow: 5px -2px 81px 1px rgb(0 0 0 / 9%);
			cursor: pointer;
		}
	}

	.contacts{
		display: grid;
		grid-template-columns: 1fr;
		row-gap: var(--spacer-sm);
		text-align: center;
	}

	@media (min-width: 768px) {
		.contacts {
			text-align: left;
			grid-template-columns: 2.5fr repeat(3, 1fr);
			-moz-column-gap: var(--spacer-md);
			column-gap: var(--spacer-md);
		}
	}

	.social {
		display: flex;
		flex-direction: row;
		gap: var(--spacer-sm);

		& svg {
			height: var(--size-h1);
			width: var(--size-h1);
			overflow: visible;
		}
	}

	.bottom {
		width: 100%;
		display: flex;
	}

	.links {
		width: 100%;
		display: flex;
		flex-direction: row;
		gap: 10px;
		
		& a {
			text-decoration: underline;
			padding: 0;

			@media (min-width: 480px) {
				& {
					font-size: var(--size-p);
				}
			}
		}

		& li {
			display: flex;
			align-items: center;
			justify-content: center;
			text-align: center;
		}
	}

	.legal {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
</style>
