---
import Layout from 'pages/documentation/index.astro'
import { Code } from 'astro/components';
---

<Layout>
	<section id="colors" class="no-padding">
		<h2 class="h3">Colors</h2>
		<div class="card">
			<div class="card-body">

				<b>Background</b>
				<ul class="swatches">
					<li class="color" style="background: var(--color-bg)">
						<div class="color-code">
							<span class="code">var(--color-bg)</span><div class="icon copy"></div>
						</div>
						<span>Color bg<br /></span>
					</li>
					<li class="color" style="background: var(--color-bg-alt)">
						<div class="color-code">
							<span class="code">var(--color-bg-alt)</span><div class="icon copy"></div>
						</div>
						<span>Color bg alt<br /></span>
					</li>
				</ul>

				<b>Defaults</b>
				<ul class="swatches">
					<li class="color dark" style="background: var(--color-primary)">
						<div class="color-code">
							<span class="code">var(--color-primary)</span><div class="icon copy"></div>
						</div>
						<span>Color primary<br /></span>
					</li>
					<li class="color dark" style="background: var(--color-secondary)">
						<div class="color-code">
							<span class="code">var(--color-secondary)</span><div class="icon copy"></div>
						</div>
						<span>Color secondary<br /></span>
					</li>
					<li class="color dark" style="background: var(--color-tertiary)">
						<div class="color-code">
							<span class="code">var(--color-tertiary)</span><div class="icon copy"></div>
						</div>
						<span>Color tertiary<br /></span>
					</li>
				</ul>

				<b>Text</b>
				<ul class="swatches">
					<li class="color dark" style="background: var(--color-text-primary)">
						<div class="color-code">
							<span class="code">var(--color-text-primary)</span><div class="icon copy"></div>
						</div>
						<span>Color text primary<br /></span>
					</li>
					<li class="color" style="background: var(--color-text-primary-inverted)">
						<div class="color-code">
							<span class="code">var(--color-text-primary-inverted)</span><div class="icon copy"></div>
						</div>
						<span>Color text primary inverted<br /></span>
					</li>
					<li class="color" style="background: var(--color-text-white)">
						<div class="color-code">
							<span class="code">var(--color-text-white)</span><div class="icon copy"></div>
						</div>
						<span>Color text white<br /></span>
					</li>
				</ul>

				<b>Border</b>
				<ul class="swatches">
					<li class="color" style="background: var(--color-border)">
						<div class="color-code">
							<span class="code">var(--color-border)</span><div class="icon copy"></div>
						</div>
						<span>Color border<br /></span>
					</li>
					<li class="color" style="background: var(--color-border-light)">
						<div class="color-code">
							<span class="code">var(--color-border-light)</span><div class="icon copy"></div>
						</div>
						<span>Color border light<br /></span>
					</li>
				</ul>

				<b>Gradients</b>
				<ul class="swatches">
					<li class="color dark" style="background: var(--gradient-primary)">
						<div class="color-code">
							<span class="code">var(--gradient-primary)</span><div class="icon copy"></div>
						</div>
						<span>Gradient primary<br /></span>
					</li>
				</ul>


			</div>
		</div>
	</section>
	<section id="fonts" class="no-padding">
		<h2 class="h3">Fonts</h2>
		<div class="card">
			<div class="card-body">
				<div>
					<select onchange="updateFont(this.value)">
						<option value="sans-serif">Sans Serif</option>
						<option value="serif">Serif</option>
						<option value="monospace">Monospace</option>
						<option value="cursive">Cursive</option>
					</select>
					<span>Font size: </span>
					<input type="range" id="size" min="10" max="144" value="20" oninput="updateSize(this.value)">
					<span>Line Height: </span>
					<input type="range" id="size" min="10" max="144" value="26" oninput="updateLineHeight(this.value)">
				</div>
				<br	/>
				<div id="sample-text" contenteditable="true">
					The quick brown fox jumps over the lazy dog
				</div>
			</div>
		</div>
	</section>
</Layout>

<script>

	const copyToClipboard = async (str) => {
		navigator.permissions.query({name: "clipboard-write"}).then(result => {
			if (result.state == "granted" || result.state == "prompt") {
				navigator.clipboard.writeText(str);
			}
		});
		
	};

	window.addEventListener('load', function() {
		document.querySelectorAll('li.color').forEach(function(el) {
			el.addEventListener('click', function(e) {
				e.preventDefault();
				var li = e.target;
				if (!e.target.classList.contains('color')) {
					li = e.target.closest('li');
				}
				var code = li.querySelector('.code')?.innerText;
				copyToClipboard(code);

				li.querySelector('.code').innerText = 'Copied!';
				setTimeout(function() {
					li.querySelector('.code').innerText = code;
				}, 1000);
			});
		});
	});

	function updateSize(newVal){
		var newFontSize = newVal + 'px';
		document.getElementById("sample-text").style.fontSize = newFontSize;
	}

	function updateLineHeight(newVal){
		var newFontSize = newVal + 'px';
		document.getElementById("sample-text").style.lineHeight = newFontSize;
	}

	function updateFont(newVal) {
		document.getElementById("sample-text").style.fontFamily = newVal;
	}

</script>

<style lang="scss">
.swatches {
	list-style: none;
	font: 0.9em calibri, san-serif;
}

.swatches li {
	border-radius: 1em;
    display: inline-flex;
    height: 4rem;
    position: relative;
    width: 12rem;
    margin: 2rem 1rem;
    text-align: center;
    vertical-align: middle;
    justify-content: center;
	cursor: pointer;
}

.swatches li > span {
	position: relative;
	top: 4.5rem;
	display: inline-block;
}

.swatches li .color-code {
	color: var(--color-text-primary);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    display: flex;
	justify-content: space-between;
    padding: 0 1rem;
}

.swatches li.color.dark .color-code {
	color: var(--color-text-primary-inverted);
}

.copy.icon {
    width: 8px;
    height: 11px;
    border: solid 1px var(--color-text-primary);
    border-radius: 1px;
    position: relative;
	top: 6px;
    right: 0;
}

li.color.dark .copy.icon {
	border: solid 1px var(--color-text-primary-inverted);
}

.copy.icon:before {
    content: "";
    display: block;
    position: absolute;
    left: -3px;
    top: -3px;
    width: 8px;
    height: 11px;
    border-top: solid 1px var(--color-text-primary);
    border-left: solid 1px var(--color-text-primary);
    border-radius: 1px 0 0 0;
}

li.color.dark .copy.icon:before {
	border-top: solid 1px var(--color-text-primary-inverted);
    border-left: solid 1px var(--color-text-primary-inverted);
}

.icon:after {
    content: '';
    position: absolute;
}

</style>
