---
const { page } = Astro.props;
---

<div class="paginator">
	{page.url.prev && (
		<a href={page.url.prev} title="Go to Previous">
			&larr; Prev
		</a>
	)}
	{page.url.next && (
		<a href={page.url.next} title="Go to Next">
			Next &rarr;
		</a>
	)}
</div>

<style>
	.paginator {
		text-align: center;
	}
</style>
