---
import Paginator from './Paginator.astro';
import PostPreview from './PostPreview.astro';

const { posts, page } = Astro.props;
---

<div class="container">
	<div class="posts">
		{posts.map(post => <PostPreview post={post} />)}
	</div>
	{page && <Paginator page={page} />}
</div>

<style lang="scss">
	.posts {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(20rem, 25rem));
		gap: 4rem;
		place-content: flex-start;
	}
</style>
