---
import { getLocalizedLabel, setLocalizationsPropToMap, addLocalizationsPropToMap } from '$/utils'
import { Translate } from 'astro-localization';

var lmap = {};

const { post } = Astro.props;

setLocalizationsPropToMap(post.title, lmap);
setLocalizationsPropToMap(post.description, lmap);

var locales = Object.keys(lmap);

addLocalizationsPropToMap(post, locales, lmap, 'title');
addLocalizationsPropToMap(post, locales, lmap, 'description');
---
<!-- https://codepen.io/zank/pen/GRyNeWv?editors=1100 -->
<article>
	<figure>
		<!-- Photo by Quentin Dr on Unsplash -->
		<img src={post.image} alt="Several hands holding beer glasses" />
		<figcaption>
			<h3><a href={post.url}><Translate {lmap} key="title" /></a></h3>
		</figcaption>
	</figure>
	<footer>
		{post.tags && post.tags.map(tag => <a href={`/tags/` + tag}>{tag}</a>)}
		<span>28/03/2022</span>
	</footer>
</article>

<style lang="scss">
	article {
		padding: 0;
		// display: flex;
		// flex-direction: column;
		// justify-content: space-between;
		// padding: 2rem;
		// background: white;
		// border-radius: 1rem;

		figure {
			margin: 0;
			padding: 0;
			// max-height: 20rem;
			// overflow: hidden;
			// position: relative;

			> img {
				width: 100%;
				object-fit: contain;
			}

			> figcaption {
				> h3 {
					padding: 0;
					margin: 0;
				}
			}
		}

		footer {
			// display: flex;
			// flex-direction: column;
		}
	}
</style>
