---
interface Props {
    title: string
    badges: { title: string, logo: string }[]
}

const { title, badges } = Astro.props as props
---

<div>
  <h4 class="h6"><strong>{title}<strong></h4>

  <ul>
    {badges.map(({ logo, title }) => (
      <li>
        <svg>
          <title>{title}</title>
          <use xlink:href={logo} />
        </svg>
      </li>
    ))}
    </ul>
</div>

<style lang="scss">
  div {
    &:not(:first-of-type) {
      margin-top: var(--spacer-md);
    }

    & ul {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
      gap: var(--spacer-sm);
    }

    & li {
      background: var(--color-bg-alt);
      width: 100%;
      padding: var(--spacer-xs) var(--spacer-sm);
      display: flex;
      justify-content: center;
      border-radius: 0.25rem;
      box-shadow: var(--shadow-sm);
    }

    & svg {
      height: 1.75rem;
      max-width: var(--spacer-xl);
    }
  }
</style>
