---
/**
 * Mouse background effect
 */
---

<div class="object"></div>

<script>

document.addEventListener('mousemove', (e) => {
    var obg = document.querySelector('.object');
    obg.style.left = e.pageX + 'px';
    obg.style.top = e.pageY + 'px';
});

</script>

<style lang="scss">

.object {
	position: absolute;
    opacity: 0.5;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    background: linear-gradient(#0099ff, #ff0066);
    -webkit-animation: animate-astro-zjO8sxTo 5s linear infinite;
    animation: animate-astro-zjO8sxTo 5s linear infinite;
    transition: width 1s, height 1s;
	z-index: -1;
    // box-shadow: 0 0 60rem 50rem var(--color-bg) inset;
}

@keyframes animate{
    0% {
        filter: hue-rotate(0deg);
    }
    50% {
        filter: hue-rotate(30deg);
    }
    100% {
        filter: hue-rotate(0deg);
    }
}

</style>
