/* poppins-regular - latin */
@font-face {
	font-family: "Poppins";
	font-style: normal;
	font-weight: 400;
	src: local(""), url("/assets/fonts/poppins/poppins-v15-latin-regular.woff2") format("woff2"),
		/* Chrome 26+, Opera 23+, Firefox 39+ */ url("/assets/fonts/poppins/poppins-v15-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* poppins-italic - latin */
@font-face {
	font-family: "Poppins";
	font-style: italic;
	font-weight: 400;
	src: local(""), url("/assets/fonts/poppins/poppins-v15-latin-italic.woff2") format("woff2"),
		/* Chrome 26+, Opera 23+, Firefox 39+ */ url("/assets/fonts/poppins/poppins-v15-latin-italic.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* poppins-700 - latin */
@font-face {
	font-family: "Poppins";
	font-style: normal;
	font-weight: 700;
	src: local(""), url("/assets/fonts/poppins/poppins-v15-latin-700.woff2") format("woff2"),
		/* Chrome 26+, Opera 23+, Firefox 39+ */ url("/assets/fonts/poppins/poppins-v15-latin-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* poppins-700italic - latin */
@font-face {
	font-family: "Poppins";
	font-style: italic;
	font-weight: 700;
	src: local(""), url("/assets/fonts/poppins/poppins-v15-latin-700italic.woff2") format("woff2"),
		/* Chrome 26+, Opera 23+, Firefox 39+ */ url("/assets/fonts/poppins/poppins-v15-latin-700italic.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* poppins-900 - latin */
@font-face {
	font-family: "Poppins";
	font-style: normal;
	font-weight: 900;
	src: local(""), url("/assets/fonts/poppins/poppins-v15-latin-900.woff2") format("woff2"),
		/* Chrome 26+, Opera 23+, Firefox 39+ */ url("/assets/fonts/poppins/poppins-v15-latin-900.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* poppins-900italic - latin */
@font-face {
	font-family: "Poppins";
	font-style: italic;
	font-weight: 900;
	src: local(""), url("/assets/fonts/poppins/poppins-v15-latin-900italic.woff2") format("woff2"),
		/* Chrome 26+, Opera 23+, Firefox 39+ */ url("/assets/fonts/poppins/poppins-v15-latin-900italic.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
