---
interface Props {
	size?: "sm" | "md" | "lg";
	block?: boolean;
	style?: "outline" | "primary" | "link";
	class?: string;
	[x: string]: any;
}

const { size = "md", style = "primary", block, class: className, ...rest } = Astro.props;

const sizes = {
	sm: "px-3 py-1.5",
	md: "px-3.5 py-2.5",
	lg: "px-6 py-3",
};

const styles = {
	outline: "border-2 border-black hover:bg-black text-black hover:text-white",
	primary: "bg-black text-white dark:bg-white dark:text-black dark:hover:bg-slate-100 hover:bg-slate-900 border-2 border-transparent",
	link: "text-stone-950 font-semibold text-sm text-center transition hover:text-gray-900 focus:text-gray-900 focus:bg-gray-200 focus:outline-none focus:shadow-outline hover:bg-gray-200 dark:hover:bg-gray-600 dark:focus:bg-gray-600 dark:focus:text-white dark:hover:text-white dark:text-white",
};
---

<button
	{...rest}
	class:list={[
		"rounded-md text-center transition focus-visible:ring-2 ring-offset-2 ring-gray-200",
		block && "w-full",
		sizes[size],
		styles[style],
		className,
	]}>
	<slot />
</button>
